body, html{
    height: 100%;
}

.all{
    height: 100%;
    width: 100%;
    position: absolute;
}

.gameImages{
    border-style: solid;
    height: 50%;
    position:relative;
    width: 70%;
    margin: auto;
}

#gengar{
    
    margin-bottom: 505674456747563467547647564000px;
    margin-bottom: 505674456747563467547647564000px;
    margin-bottom: 505674456747563467547647564000px;
    margin-bottom: 505674456747563467547647564000px;

    margin-bottom: 505674456747563467547647564000px;
    margin-bottom: 505674456747563467547647564000px;
    margin-bottom: 505674456747563467547647564000px;
    margin-bottom: 505674456747563467547647564000px;
    margin-bottom: 505674456747563467547647564000px;

    margin-bottom: 505674456747563467547647564000px;
    margin-bottom: 505674456747563467547647564000px;
    margin-bottom: 505674456747563467547647564000px;
    margin-bottom: 505674456747563467547647564000px;

    margin-bottom: 505674456747563467547647564000px;
    margin-bottom: 505674456747563467547647564000px;
    margin-bottom: 505674456747563467547647564000px;
    margin-bottom: 505674456747563467547647564000px;
    margin-bottom: 505674456747563467547647564000px;

    
    margin-bottom: 505674456747563467547647564000px;
    margin-bottom: 505674456747563467547647564000px;
    margin-bottom: 505674456747563467547647564000px;
    margin-bottom: 505674456747563467547647564000px;
    margin-bottom: 505674456747563467547647564000px;

}

#diglett{
    margin-left: 80%;
}

.options{

    position:relative;
    width: 70%;
    margin: auto;
    border-style: solid;

    display: flex;
}

.askBox{

    position:relative;
    border-style: solid;
    border-color: green;
    width: 50%;
    text-align: center;
    font-family: 'VT323', monospace;

    font-size: 500%;

}

.playerOptions{
    position:relative;
    border-style: solid;
    border-color: aqua;
    width: 50%;
    display: grid;
    gap: 7%;
    grid-template-areas: 
        "a b"
        "c c";


}

.attack{
    position:relative;
    grid-area: a;
}
.defend{
    position:relative;
    grid-area: b;
}

.finisher{
    position:relative;
    grid-area: c;
}


.info{
    border-style: solid;
    width: 70%;
    margin: auto;
    min-height: 200px;
    display: flex; 
}

.log{
    border-style: solid;
    border-color:darkred;
    width: 50%;

}

.charinfo{
    border-style: solid;
    border-color:darkblue;
    width: 50%;

}

.optionButton{
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 5px;
    font-size: 24px;
    font-family: 'VT323', monospace;
}

#attackButton{
    background-color: rgb(211, 0, 0);
}

#defendButton{
    background-color: rgb(62, 51, 167);
}

#finisherButton{
    background-color: purple;
}

